@import url('/assets/styles/general.css');

.nav-header {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--primary-color);
  
}
.nav-logo {
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--white-color);
}

.nav-menu-btn {
  font-size: 1.75rem;
  color: var(--white-color);
  cursor: pointer;
}
.nav-links {

  display: flex;
  padding: 30px;
  list-style: none;
  background-color: var(--primary-color);
  gap: 1.75rem;
  align-items: center;
  justify-content: center;

}

.list-home {
  font-size: 1.50rem;
  padding: .75rem;
  
}

  

