<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/6ec0f688d6.js"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/srctatic/assets/styles/list-home.css">
</head>
<body>
</div>
<header>
    <div class="header-container">
      <div class="header-container-left">
        <a href="/src/main/resources/templates/index.htmlGo/src/main/resources/templates/index.html">
            <h1 class="Logo">HomeOnTheGo</h1>
        </a>
        
        
      </div>
      <nav>
        <div class="header-container-right">
          <form class="search-bar">
            <input type="text" placeholder="Search..." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
          <ul>
            <li><a href="/src/main/resources/templates/houses.htmlo/src/main/resources/templates/houses.html">Houses</a></li>
            <li><a href="https://github.com/lilynguyen46/HomeOnTheGo.git">Contact Us</a></li>
            <li><a href="https://github.com/lilynguyen46/HomeOnTheGo.git">About Us</a></li>
          </ul>

          <button class="list-home">
            <span>List Home</span>
          </button>
          <div class="auth-buttons">
            <a href="/src/main/resources/templates/login.htmlGo/src/main/resources/templates/login.html">
              <button class="login">Log In</button>
            </a>
            <a href="/src/main/resources/templates/sign-up.html/src/main/resources/templates/sign-up.html">
              <button class="sign-up">Sign Up</button>
            </a>

            <a href="/src/main/resources/templates/profpage.htmlsrc/main/resources/templates/profpage.html">
              <button class=profile> <i class="fa-solid fa-user"></i>
              </button>
            </a>
            
          </div>
        </div>
      </nav>
    </div>

    <div class="main-container">
        <div class="main-container-left">
          <h1>Its Easy to get Started</h1>
          <button>Get Started</button>
        </div>
        <div class="main-container-right">
          <div class="steps">
            <h2>Step 1</h2>
            <h3> Tell us about your place</h3>
            <p>Share some basic info, like where it is and how many guests can stay.</p>
          </div>
          <div class="steps">
            <h2>Step 2</h2>
            <h3> Set the scene</h3>
            <p>Add photos and details that show what makes your place special.</p>
          </div>
          <div class="steps">
            <h2>Step 3</h2>
            <h3>Finish up and Publish</h3>
            <p>Review your listing and set your price. Then publish it so guests can book.</p>
          </div>
        </div>
    </div>

  </header>


















</body>
</html>